/* all setting */
.noto-sans-jp- {
  font-family: "Noto Sans JP", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  

html {
    font-family: "Noto Sans JP", "system-ui";
    font-size: 16px;
    scroll-behavior: smooth;
    width : 85%;
    margin : 0 auto;
}
.flex {
    display : flex;
    justify-content: center;
}
.constFlex {
    display: flex;
}

.letter {
    text-align: left;
    margin : 10px 0 10px 13px;
}
/* header */
.welcome {
    margin-bottom: 2%;
    font-size: 150px;
    text-align: center;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;      
}
h1 {
    margin: 0;
}
.container {
    margin-bottom: 13%;
}
@media (max-width: 768px) {
    html {
        width : 100%;
    }
    .welcome {
        margin-top: 5%;
        margin-bottom: 12%;
    }
    .container {
        margin-bottom: 24%;
    }
}
header a {
    font-size : 30px;
    margin : auto;
    color : aqua;
    text-decoration: none;
}

.elements {
    margin: auto;
    background-color: gray;
    opacity: 70%;
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 40px;
    position: relative;
}
.box {
    border: 2% 2% 2% 2%;
    border: solid 2px gray;
}


@media only screen and (max-width: 768px){
    .welcome {
        font-size: 50px;
        text-align: center;
    }
    .elements {
        margin: auto;
        background-color: gray;
        opacity: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}

/* profile */
.leftBox{
    width : 65%;
    position: relative;
}
.rightBox{
    width : 35%;
}
#profile img {
    height: 80%;
    width: 80%;
    margin:auto;
    margin-top: 5%;
}
@media screen and (max-width: 767px) {
    #profile img{
        height : 60%;
        width : 60%;
        margin : auto;
    }
}

.saitama{
    text-decoration: none;
    color: #7cfc00;
    font-size: 20px;
}

.AtCoder {
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .leftBox {
        width : 100%;
        margin: 0;
    }
    .rightBox {
        width : 100%;
        margin: 0;
    }
    #profile img {
        display: flex;
        justify-content: center;
        margin: 20px auto 0 auto;
    }
    #profile .container{
        margin-bottom: 0;
    }
}
/* background font */
.heading {
    font-size : 50px;
    opacity : 0.2;
    z-index: -1;
    position: absolute;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;      
}

/* achievements */
#achievements .box{
    flex-wrap: wrap;
}
.column_a {
    margin-bottom: 3%;
    margin-right : 3%;
    width : auto;
}
.column_b {
    margin: auto;
    width : auto;
}
.column_b img {
    width : 70px;
    height : 70px;
    margin-right : 5px;
}

@media only screen and (max-width: 768px) {
    .column_a {
        width : 95%;
    }
    .column_b {
        width : 100%;
        margin : 10px 0 0 2%;
    }
    #Achievement img{
        height: 60px;
        width: 60px;
        margin-right: 2%;
        margin-bottom: 7%;
    }
}

/* access */
#access a{
    margin-left: 5%;    
}
#access img{
    height : 120px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    #access img{
        height: 70px;
        width: 70px;
        border-radius : 10px;
    }
    #access a {
        margin-left : 7px;
    }
    .flex {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}
/* footer */
.footer {
    background-color: black;
    color : white;
    margin : 0;
    text-align: center;
}

/* pageTop */
.pagetop {
    height : 50px;
    width : 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow{
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}


